use flake

# where the app will serve static assets from
export STATIC_ASSET_DIR=$PRJ_ROOT/public
# where the app will load the CSS from (put here by tailwind)
export STYLESHEET_PATH=/tmp/blog.css
# where the app will load posts from
export POSTS_DIR=$PRJ_ROOT/posts
# where the app will dump analytics
export ANALYTICS_DB_URL=sqlite:///tmp/blog-analytics.db?mode=rwc
