@font-face {
  font-family: 'FiraSans';
  src: url("/fonts/Firava.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
  @apply w-full text-xl text-neutral-300 break-words;
}

.markdown p {
  @apply my-2;
}

.markdown h1 {
  @apply text-5xl font-bold mb-3;
}

.markdown h1 code {
  @apply text-5xl font-medium;
}

.markdown h2 {
  @apply text-4xl font-bold mb-2 mt-6;
}

.markdown h2 code {
  @apply text-4xl font-medium;
}

.markdown h3 {
  @apply text-3xl font-bold mb-2 mt-4;
}

.markdown h3 code {
  @apply text-2xl;
}

.markdown h4 {
  @apply font-bold;
}

.markdown pre {
  @apply bg-zinc-800 p-4 w-full rounded border border-zinc-600 text-xl/tight overflow-auto;
}

.markdown pre code {
  @apply bg-inherit p-0 border-0;
}

.markdown code {
  @apply text-base font-mono normal-nums bg-zinc-800 rounded border border-zinc-600 px-1.5 py-0.5 mx-0.5;
}

.markdown blockquote {
  @apply bg-zinc-700 my-3 p-2 pl-4 border-zinc-400 border-l-4;
}


.markdown ol,
.markdown ul {
  @apply pl-6 my-1;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ul {
  @apply list-disc;
}

.markdown hr {
  @apply my-4 border-t-2 border-neutral-400/50;
}

.markdown a {
  text-decoration: none;
  color: #7c90ff
}

.markdown a:hover {
  text-shadow: 0 0 0.9px #6c82ff, 0 0 0.9px #6c82ff
}