@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Thin.woff2') format('woff2'), url('TTF/IosevkaTerm-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Light.woff2') format('woff2'), url('TTF/IosevkaTerm-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-LightItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Regular.woff2') format('woff2'), url('TTF/IosevkaTerm-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Extended.woff2') format('woff2'), url('TTF/IosevkaTerm-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-Oblique.woff2') format('woff2'), url('TTF/IosevkaTerm-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-Oblique.woff2') format('woff2'), url('TTF/IosevkaTerm-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-Italic.woff2') format('woff2'), url('TTF/IosevkaTerm-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Medium.woff2') format('woff2'), url('TTF/IosevkaTerm-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiBold.woff2') format('woff2'), url('TTF/IosevkaTerm-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Bold.woff2') format('woff2'), url('TTF/IosevkaTerm-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Heavy.woff2') format('woff2'), url('TTF/IosevkaTerm-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyItalic.TTF') format('truetype');
}