@font-face {
	font-family: 'Iosevka Custom';
	font-display: swap;
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/Iosevkacustom-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans';
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  src: url("/fonts/Firava.woff2");
}
